<h3>Completed Items</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th class='col-md-1'><%= @lists.where(:completed, true).count %></th>
      <th class="col-md-3">Item</th>
      <th class="col-md-6">Description</th>
      <th class="col-md-1">Redo</th>
      <th class="col-md-1">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.where(completed: true).each do |list| %>
      <tr>
        <td># <%= list.id %></td>
        <td><%= link_to list.title, list %></td>
        <td><%= list.description %></td>
        <td><%= link_to "Redo", redo_list_path(list), method: :patch %></td>
        <td><%= link_to "Delete", list_path(list), class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></td>
    <% end %>
  </tbody>
</table>

<h3>To-do List</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th class='col-md-1'> <%= @lists.count %> Items</th>
      <th class='col-md-3'>Item</th>
      <th class='col-md-6'>Description</th>
      <th class='col-md-1'>Days Left</th>
      <th class='col-md-1'>Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.where(completed: false).each do |list| %>
      <tr>
        <td>
          # <%= list.id %>
        </td>
        <td>
          <%= link_to list.title, list %>
        </td>
        <td>
          <%= list.description %>
        </td>
        <td>
          <%= pluralize(list.days_left, 'day') %>
        </td>
        <td>
          <%= link_to "Complete", complete_list_path(list), method: :patch %>
        </td>
    <% end %>
      </tr>
  </tbody>
</table>
<%= link_to 'Add another item', new_list_path, class: "btn btn-success" %>