
<h3>Todo List</h3>
<table class="table">
  <thead>
    <tr>
      <th><i class='glyphicon glyphicon-ok-sign'></i></th>
      <th class='list-item'>Item</th>
      <th class='days-left'>Due</th>
      <th class='trash'>Delete</th>
    </tr>
  </thead>
    <% @completed.each do |list| %>
    <tr class='completed'>
        <td class='complete'><%= link_to complete_list_path(list), method: :patch do %>
          <i class='glyphicon glyphicon-ok'></i>
        <% end %>
        </td>
        <td class='list-item'><strike><%= link_to truncate(list.title, length: 50), list %></strike></td>
        <td class='days-left'><%= pluralize(list.days_left, 'day') %></td>
        <td class='trash'><%= link_to list_path(list), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class='glyphicon glyphicon-trash'></i>
        <% end %>
        </td>
      <% end %>
    </tr>
    <% @lists.each do |list| %>
    <tr class='todo'>
        <td class='complete'><%= link_to complete_list_path(list), method: :patch do %>
          <i class='glyphicon glyphicon-ok'></i>
        <% end %>
        </td>
        <td class='list-item'><%= link_to truncate(list.title, length: 50), list %></td>
        <td class='days-left'><%= pluralize(list.days_left, 'day') %></td>
        <td class='delete'><%= link_to list_path(list), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class='glyphicon glyphicon-trash'></i>
        <% end %>
        </td>
      <% end %>
    </tr>
    <tr id='forms'>
      <td colspan='4'>
        <%= render "lists/form" %>
      </td>
    </tr>
  </tbody>
</table>
